#centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

#dialog {
    position: relative;

    width: 160px;
    margin-left: -80px;

    height: 180px;
    margin-top: -90px;
}

.thingx {
    list-style-type: none;

    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 15px;
}
